  html,
  body {
    height: 100%;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    min-height: 100vh;  
    position: relative;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 90px;
}
.footer {
    position: absolute;
    background-color:#333;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.footer p {
    margin-top:2%;
    color: white;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
}
nav ul li a:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #333;
}
main {
    padding: 20px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.movies-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.movie-item {
    margin: 20px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100%;
}
.movie-poster {
    width: 100%;
    height: auto;
}
.save-movie-form {
    margin-top: auto;
}
.save-movie-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.save-movie-button:hover {
    background-color: #0056b3;
}
.movie-details-container {
    display: flex;
    align-items: center;
}
.movie-poster {
    margin-right: 20px;
}
.movie-poster img {
    max-width: 100%;
}
.movie-info {
    flex: 1;
}